@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,600;1,300;1,400;1,500&display=swap');

:root{
--header-height: 3rem;

/* color */
--main-color: #489FB5;
--main-color-lighter: #82C0CC;
--title-color: #125665 ;
--text-color: #16697A ;
--accent-color: #FFA62B ;
--accent-color-2: #D396E4 ;
--background-color: #EDE7E3 ;

/* font */
--body-font: 'Plus Jakarta Sans', sans-serif;

--big-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1.125rem;
--normal-font-size: 0.938rem;
--small-font-size: 0.813rem;
--smaller-font-size: 0.75rem;

--regular-font-weight: 400;


/* bottom margins */
--mb-0-25: 0.25rem;
--mb-0-5: 0.5rem;
--mb-0-75: 0.75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;
}

/* base */

ul{
    list-style: none;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}


*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html{
  scroll-behavior: smooth;
}

.logo_burger {
  display: flex;
  justify-content: space-between;
  margin-left: 4em;
  margin-right: 4em;
}

body{
  overflow-x: hidden;
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: var(--normal-font-size);
  background-color: white;
  color: black;
  transition: background-color 1s ease;
}

.logo_burger svg{
  margin-top: 4em;
  margin-left: 0.8em;
}

h2{
  margin-top: 5em;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
}

/* night mode */

body.light-mode {
  color: rgb(0, 0, 0);
}
body.light-mode a {
  color: rgb(0, 0, 0);
}
body.light-mode .o{
  color: #de412c;
}
body.light-mode button {
  background-color: #111;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 2em;
  right: 2em;
}

body.dark-mode #menuToggle span{
  background: white;
}

body.dark-mode .nav__logo path{
  fill: white;
  stroke: white;
}

body.dark-mode {
  background-color: rgb(30, 30, 30);
  color: #eee;
}
body.dark-mode a{
  color: white ;
}
body.dark-mode .o{
  color: #de412c ;
}
body.dark-mode button {
  background-color: #eee;
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: 2em;
  right: 2em;
}



/* bio */
.bio p{
  margin-top: 2em;
  text-align: center;
  color: rgb(170, 170, 170);
  line-height: 2.5em;
}

.bio .n{
  color: rgb(152, 109, 89);
}

.bio .n:hover{
  font-style: italic;
}

.bio .m{
  color: rgb(48, 175, 149);
}

.bio .m:hover{
  text-decoration: underline;
}

.o{
  color: rgb(236, 69, 152);
  transform: translate(-50%,-50%);
}

.o{
  position: relative;
  color: rgb(176, 72, 199);
  transform: translate(-50%,-50%);
}

.o[pop-up]::after{
  content: attr(pop-up);
  position: absolute;
  background: rgb(132, 255, 0);
  padding-left: 3px;
  padding-right: 3px;
  top: -200%;
  left: 110%;
  border-radius: 5px;
  font-size: 30px;
  transform: scale(0); 
  transition: transform 0.4s ease,
              rotate 0.4s ease;
}

.o[pop-up]:hover::after{
  transform: scale(1) rotate(360deg);
}



/* header */

.content {
  margin-top: 5em;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.content__container__text {
  display: inline;
  float: left;
  margin-top: 8.8px;
  font-weight: 600;
  font-size: larger;
  letter-spacing: 0.05em;
}

.content__container__text a{
  color: #de412c;
}
.content__container__text a:hover{
  text-decoration: underline;
}


.content__container__list {
  margin-top: 0;
  padding-left: 185px;
  text-align: left;
  list-style: none;
  font-weight: 600;
  font-size: larger;
  font-style: italic;
  letter-spacing: 0.05em;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40.5px;
  margin: 0;
}

.content__container__list #a {
  color: fuchsia;
}

.content__container__list #b {
  color: red;
}

.content__container__list #c {
  color: goldenrod;
}

.content__container__list #d {
  color: blueviolet;
}


@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
 }
  50% {
    opacity: 1;
 }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
 }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
 }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
 }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
 }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
 }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
 }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
 }
  50% {
    opacity: 1;
 }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
 }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
 }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
 }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
 }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
 }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
 }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
 }
  50% {
    opacity: 1;
 }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
 }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
 }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
 }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
 }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
 }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
 }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
 }
  50% {
    opacity: 1;
 }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
 }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
 }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
 }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
 }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
 }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
 }
}


/* HAMBURGER */

#menuToggle{
    display: block;
    position: fixed;
    margin-top: 3rem;
    float: left;
    margin-left: -2em;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  #menuToggle input{
    display: block;
    width: 50px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* hamburger */
  #menuToggle span{
    display: block;
    width: 44px;
    height: 3px;
    margin-bottom: 10px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  
  /* transform all the slices of hamburger into a crossmark.*/
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /* hide the middle one */
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /* last one go the other direction */
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /* Make this absolute positioned at the top left of the screen */
  #menu{
    position: absolute;
    width: 420px;
    height: 102vh;
    margin: -100px 0 0 -300px;
    padding: 80px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    animation: pulse 5s infinite;
  }

  @keyframes pulse {
    0% {
      background-color: #b1c6da;
    }
    30% {
      background-color: #f693f1;
    }
    80% {
      background-color: #f6e193;
    }
    100% {
      background-color: #b1c6da;
    }
  }
  
  #menu li{
    font-size: larger;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.05em;
    padding: 40px 0;
  }

  #menu li:hover{
    font-style: italic;
  }
  
  /* And let's slide it in from the left */
  #menuToggle input:checked ~ ul{
    transform: none;
  }
  
#menu a.me{
  position: fixed;
  bottom:3em;
}

/* HOME */

.nav__menu{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
  }

.nav__menu a {
    color: black; 
    display: block; 
    text-decoration: none;
    text-align: center;
    padding: 3em 3em;
}

.nav__menu .text {
  text-align: center;
  margin-top: 4em;
}

.nav__menu #block1 a:hover {
    background: var(--accent-color-2); 
    text-decoration: none;
    display: block; 
    padding: 3em 3em;
}
.nav__menu #block2 a:hover {
    background: var(--accent-color); 
    text-decoration: none;
    display: block; 
    padding: 3em 3em;
}
.nav__menu #block3 a:hover {
    background: var(--main-color-lighter); 
    text-decoration: none;
    display: block; 
    padding: 3em 3em;
}

.nav__menu img {
    max-width: 300px;
}

/* ART */

.art__content img{
  max-width: 400px;
  max-height: 400px;
  align-items: center;
}


 /* panel styles */
 .panel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
	/* min height incase content is higher than window height */
	min-height: 100vh;
	display: flex;
  justify-content: space-evenly;
  margin-top: -6.5em;
  align-items: center;
	/* outline: 10px solid red; */
	/* turn above on to see the edge of panels */
}

/* colours */
/*.color-violet*/
[data-paint="violet"] {
	background-color: #e6d9f4;
}
/*.color-indigo*/
[data-paint="indigo"] {
	background-color: #d7d3fa;
}
/*.color-blue*/
[data-paint="blue"] {
	background-color: #d3e9ff;
}
/*.color-green*/
[data-paint="green"] {
	background-color: #e3ffe1;
}
/*.color-yellow*/
[data-paint="yellow"] {
	background-color: #fffcdb;
}
/*.color-orange*/
[data-paint="orange"] {
	background-color: #ffecd9;
}
/*.color-red*/
[data-paint="red"] {
	background-color: #ffd7da;
}
/*.color-hotpink*/
[data-paint="hotpink"] {
	background-color: rgb(255, 216, 236);
}


/* cc */

.cc__content{
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
}

.cc__content img {
  max-width: 300px;
  max-height: 350px;
}

.cc__content a {
  color: black; 
  display: block; 
  text-decoration: none;
  text-align: center;
  padding: 3em 3em;
}

.cc__content #ccblock a:hover {
background: var(--background-color); 
text-decoration: none;
display: block; 
padding: 3em 3em;
}

/* BRANDING */


.pp__content{
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
}

.pp__content img {
  max-width: 300px;
}

.pp__content a {
  color: black; 
  display: block; 
  text-decoration: none;
  text-align: center;
  padding: 3em 3em;
}

.pp__content #ppblock a:hover {
background: var(--background-color); 
text-decoration: none;
display: block; 
padding: 3em 3em;
}

@media (max-width: 1420px) {
  .nav__menu{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
  }

}

 @media (max-width: 750px) {

 }

 @media (max-width: 485px) {

.logo_burger {
  margin-left: 2em;
  position: fixed;
}
 
.art__content img{
  max-width: auto;
  padding-left: 2em;
  padding-right: 2em;
}

#menuToggle{
  display: block;
  position: fixed;
  margin-top: 3rem;
  float: left;
  margin-left: 0em;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.panel{
  flex-direction: column;

}
 }
