@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');

:root{
--header-height: 3rem;

/* color */
--main-color: #489FB5;
--main-color-lighter: #82C0CC;
--title-color: #125665 ;
--text-color: #16697A ;
--accent-color: #FFA62B ;
--background-color: #EDE7E3 ;

/* font */
--body-font: 'Plus Jakarta Sans', sans-serif;

--big-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1.125rem;
--normal-font-size: 0.938rem;
--small-font-size: 0.813rem;
--smaller-font-size: 0.75rem;

--regular-font-weight: 400;


/* font for large devices */

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/* bottom margins */
--mb-0-25: 0.25rem;
--mb-0-5: 0.5rem;
--mb-0-75: 0.75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;
}

/* base */

*{
    box-sizing: border-box;
    padding:0;
    margin-top: 1em;
}

html{
    scroll-behavior: smooth;
}

.nav__logo{
    margin-left: 2em;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-weight: 500;
    font-size: var(--normal-font-size);
    background-color: white;
    color: var(--text-color);
}

ul{
    list-style: none;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle{
    text-align: center;
}

.container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

#block {
    position: relative;
    text-align: center;
    color: white;
  }

.nav__menu{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

.nav__menu #block a {
    color: black; 
    display: block; 
    text-decoration: none;
    padding: 3em 3em;
}

.nav__menu #block a:hover {
    background: red; 
    text-decoration: none;
    display: block; 
    padding: 3em 3em;
}

img {
    max-width: 300px;
}