@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;1,300;1,400;1,500&display=swap');

:root{
--header-height: 3rem;

/* color */
--main-color: #489FB5;
--main-color-lighter: #82C0CC;
--title-color: #125665 ;
--text-color: #16697A ;
--accent-color: #FFA62B ;
--accent-color-2: #D396E4 ;
--background-color: #EDE7E3 ;

/* font */
--body-font: 'Plus Jakarta Sans', sans-serif;

--big-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1.125rem;
--normal-font-size: 0.938rem;
--small-font-size: 0.813rem;
--smaller-font-size: 0.75rem;

--regular-font-weight: 400;


/* font for large devices */

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/* bottom margins */
--mb-0-25: 0.25rem;
--mb-0-5: 0.5rem;
--mb-0-75: 0.75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;
}

/* base */

ul{
    list-style: none;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* HAMBURGER */

#menuToggle{
    display: block;
    position: relative;
    top: 50px;
    right: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  #menuToggle input{
    display: block;
    width: 50px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* hamburger */
  #menuToggle span{
    display: block;
    width: 44px;
    height: 3px;
    margin-bottom: 10px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  
  /* transform all the slices of hamburger into a crossmark.*/
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /* hide the middle one */
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /* last one go the other direction */
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /* Make this absolute positioned at the top left of the screen */
  #menu{
    position: absolute;
    width: 420px;
    height: 102vh;
    margin: -100px 0 0 -300px;
    padding: 80px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li{
    padding: 40px 0;
    font-size: 22px;
  }
  
  /* And let's slide it in from the left */
  #menuToggle input:checked ~ ul{
    transform: none;
  }
  

/* HOME */

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    scroll-behavior: smooth;
}

.logo_burger {
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 4em;
}

body{
  overflow-x: hidden;
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-weight: 300;
    font-size: var(--normal-font-size);
    background-color: white;
    color: black;
}

.logo_burger svg{
    margin-top: 4em;
    margin-left: 0.8em;
}

h2{
    font-family: var(--body-font);
    font-weight: 500;
    font-style: italic;
    margin-left: 12em;
    margin-right: 10em;
    margin-top: 2em;
}

.nav__menu{
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
  }

.nav__menu a {
    color: black; 
    display: block; 
    text-decoration: none;
    text-align: center;
    padding: 3em 3em;
}

.nav__menu #block1 a:hover {
    background: var(--accent-color-2); 
    text-decoration: none;
    display: block; 
    padding: 3em 3em;
}
.nav__menu #block2 a:hover {
    background: var(--accent-color); 
    text-decoration: none;
    display: block; 
    padding: 3em 3em;
}
.nav__menu #block3 a:hover {
    background: var(--main-color-lighter); 
    text-decoration: none;
    display: block; 
    padding: 3em 3em;
}

.nav__menu img {
    max-width: 300px;
}

/* ART */

.art__content{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
}

.art__content img{
  max-width: 400px;
  max-height: 400px;
}

#artblock {
  padding: 2em 5em 5em 5em;
}

/* UXUI */

.uxui__content{
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
}

.uxui__content img {
  max-width: 300px;
  max-height: 400px;
}

.uxui__content a {
  color: black; 
  display: block; 
  text-decoration: none;
  text-align: center;
  padding: 3em 3em;
}

.uxui__content #uxblock a:hover {
background: var(--background-color); 
text-decoration: none;
display: block; 
padding: 3em 3em;
}

/* BRANDING */


.br__content{
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
}

.br__content img {
  max-width: 300px;
}

.br__content a {
  color: black; 
  display: block; 
  text-decoration: none;
  text-align: center;
  padding: 3em 3em;
}

.br__content #brblock a:hover {
background: var(--background-color); 
text-decoration: none;
display: block; 
padding: 3em 3em;
}